@import 'vars';

body {
	background-color: $color-main;
}

.container {
	max-width: 1024px;
	margin: auto;
	text-align:center;
	
	h3{
		font-family: $default-font;
		font-size: 2em;
		font-style: italic;
		color: $second-color;	
	}

	img{
		width: 200px;	
		height: auto;
		margin-bottom: 20px;
	}

	.date{
		min-height: 2em;
		width: 100%;
		font-family: $default-font;
		font-weight: 600;
		color: $second-color;	
		font-size: 1.5em;

	}
	#get-time{
		padding: 5px 15px;	
		background-color: $second-color;
		transition: background-color, 0.5s, ease; 
		&:hover{
			background-color: red;
		}
	}

} 