//colors
$greenColor: #0FF0B3;
$greenColorTr: rgba(204, 245, 234, 0.6);
$blueColor: #036ED9;
$blueColorTr: rgba(223, 234, 245, 0.6);
$whiteColorTr: rgba(236, 236, 236, 0.7);
$whiteText: rgb(240, 240, 240);
$extraWhite: rgba(243, 243, 243, 0.541);
$lightGrey: rgb(238, 238, 238);
$darkGrey: rgba(255, 255, 255, 0.219);