.auth-button {
    display: block;
    margin: 0.5em auto;
    background-color: #7cc576;
    width: 12em;
    height: 3em;
    border-radius: 1.5em;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.auth-button:active {
    color: #fff;
}

.login-form{
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 1;
    background-color: #1dd0b5;
    top: 90px;
    left: 50%;
    margin-left: -200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    form {
        margin: 15px 0 0 0;
        input {
            display: block;
            margin: 5px auto 10px auto;
            line-height: 20px;
            text-align: center;
        }
        label{
            font-weight: bold;
        }
        input[type="button"] {
            background-color: #7cc576;
            width: 200px;
            height: 40px;
            border-radius: 20px;
            border: none;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 40px;
            text-transform: uppercase;
            outline: none;
        }
    }
    >div {
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

}
