.header {
  background-color: aquamarine;
  border-radius: 20px;
  margin-bottom: 50px;
}

.header ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.header li {
  list-style-type: none;
}

.header li:hover a {
  color: #fff;
}

.header li a {
  color: #000;
  display: inline-block;
  font-size: 1.3em;
  padding: 20px;
  text-decoration: none;
  transition: all .5s;
}
  
.header-small {
  height: 200px;
}

.header-big {
  height: 400px;
}