* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    height: 532px;
    padding: 25px 300px 0 300px;
}

header a {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #ddd;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style-type: none;
}

.top li {
    margin-left: 45px;
}

.top li a {
    font-size: .8em;
}

.textInHeader {
    margin-top: 180px;
    text-align: center;
}

.textInHeader h1 {
    font-size: 5em;
}

.textInHeader p {
    font-size: 1.3em;
    letter-spacing: 1px;
}