.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.form__text-area, 
.form__sub-btn {
    border-radius: 5px;
    margin: 0.3rem 0;
    padding: 0.6rem;
}

.form__sub-btn {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgb(105, 152, 238, 0.7);
    border: 1px solid;
}


