.footer-menu {
    margin: 1em 0 0 0;
    ul {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            a {
                display: block;
                font-size: 1em;
                line-height: 2em;
                padding: 0 0.5em;
            }
        }
    }
}