.buble-with-message h2 {
    font-size: 20px;
    padding-left: 15px;
}

.buble-with-message p {
    background-color: bisque;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    max-width: 90%;
    padding: 5px;
}