.article-prev{
	margin: 15px auto;
	border: 1px solid grey;
	padding: 0;
	.card-header{
		padding: 5px 20px;
		.article-title{
			margin: 0;
			font-size: 1.8em;
		}
		.article-info{
			color: grey;
			font-style: italic;
			margin-bottom: 2px;
			font-size: 0.8em;
		}
	}
	.card-body{
		.prev_img{
			display: inline-block;
			position: relative;
			width: 50%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.card-text{
			margin: 10px 0;
		}
	}
	.card-footer {
		position: relative;
		padding: 5px 20px;
		text-align: right;
	}
}


