.room-my-message {
  overflow: auto;
  height: 54vh;
}

.room-my-input {
  overflow: hidden;
}

.my-room-editer-content {
  height: 14vh !important;
}

.my-room-button:focus {
  outline: none;
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.room-companion-message {
  height: 90vh;
  overflow: auto;
}

.room-panel-heading {
  overflow: hidden;
}