.top-bar {
  display: flex;
}

.header {
  background-color: #004359;
  color: #fff;
}

.logo-section {
  text-transform: uppercase;
}

.logo-section .logo {
  margin: 0;
  padding: 4px 0 8px;
}

.login-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}

