.page-footer{
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	p strong{
		font-size: 2em;
		display: inline-block;
		font-weight: 400;
		padding: 5px;
		position: relative;
		top: 0.2em;
	}
}

