.messenger {
  $self: &;
  height: 100vh;
  background: #e2dad2;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: scroll;
  width: 50%;
  &__inner {
    padding: 70px 45px 80px;
  }
  &__contact-nav {
    position: fixed;
    top: 0;
    width: 50%;
  }
  &__send-group {
    position: fixed;
    bottom: 0;
    width: 50%;
  }
  &_left {
    & #{$self} {
      &__contact-nav {
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
      }
      &__send-group {
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
      }
    }
  }
  &_right {
    & #{$self} {
      &__contact-nav {
        left: 50%;
      }
      &__send-group {
        left: 50%;
      }
    }
  }
}