$fontFamily: 'Roboto';

//colors
$orangeColor: #fc9e28;
$lightText: rgb(226, 226, 226);
$darkText: rgb(156, 156, 156);
$darkBG: rgb(41, 41, 41);
$darkBgOpacity: rgba(255, 255, 255, 0.1);
$lightShadow: #4e4e4e;