.signin{
    font-size: 0.8em;
}
input[type="text"],input[type="password"]{
    outline: none;
    font-size: 1em;
}
input[type="text"]:focus,input[type="password"]:focus{
    outline: none;
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 0 0 8px 4px rgb(240, 240, 240);
}
.btn-signin:hover{
    box-shadow: 0 0 8px 4px rgb(240, 240, 240);
}