* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

main {
    height: 100%;
}
