.messenger-body {
  $self: &;
  background: #e2dad2;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-left: 300px;
  box-sizing: border-box;
}