@import './variables';
@import './extended';

html{
    @extend %flex-column;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    flex: auto;
    font-family: 'Montserrat', sans-serif;
    @extend %flex-column;
    background:linear-gradient(90deg, $greenColor 0%, $blueColor 100%);
}
#root{
    flex: auto;
    min-width: 100%;
    max-height: 100vh;
    padding: 50px 100px;
    @extend %flex-row-nowrap;
    box-sizing: border-box;
    justify-content: center;
}