.post {
    border-bottom: 1px solid #ccc;
    margin-top: 90px;
    padding-bottom: 40px;
}

.post div a {
    color: #333;
    text-decoration: none;
    transition: .2s;
}

.post div a:hover {
    color: lightskyblue;
}

.post a h2 {
    font-size: 2.4em;
}

.post a h3 {
    font-size: 1.5em;
    font-weight: 100;
    padding: 20px 0;
}

.post p {
    color: #999;
}

.post p a {
    color: #212121;
    text-decoration: none;
    transition: .2s;
}

.post p a:hover {
    color: lightskyblue;
    text-decoration: underline;
}