@import '../../../variables';
@import '../../../extended';

%msg-bulb{
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 2px 0;
}

.user-messages{
    width: 100%;
    flex: auto;
    padding: 10px;
    @extend %flex-column;
    align-content: center;
    box-sizing: border-box;
}
.msg-left{
    margin-right: auto;
    @extend %msg-bulb;
    background-color: $greenColorTr;
    border-top-right-radius: 10px;
}
.msg-right{
    margin-left: auto;
    @extend %msg-bulb;
    background-color: $whiteText;
    border-top-left-radius: 10px;
    position: relative;
}