.menu-block{
    background-color: #ffffffe3;
    height: 86px;
    border-bottom: 1px solid #dfdfdf;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.menu__item{
    text-transform: uppercase;
}

.menu__item:nth-of-type(1n+2) {
    margin-left: 30px;
}

.menu__link{
    text-decoration: none;
    transition: .4s;
    color: #bcbcbc;
}

.menu__link_hover:hover{
    color: #3eb3a5;
}
