.nav {
  box-shadow: 0 0 14px 1px rgba(100,100,100,.25);
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.nav-menu__item {
  padding: 0 10px;
}

.nav-menu__item:first-child {
  padding: 0;
}

.nav-menu__item a {
  display: block;
  padding: 10px;
  color: #646464;
} 

.nav-menu__item a:hover {
  color: #0E799D;
  text-decoration: none;
}

.nav-menu__item a:focus {
  text-decoration: none;
}

.nav-menu__item.focused a {
  color: #0E799D;
}
