.footer {
  background-color: #004359;
  border-top: 3px solid #00394c;
  color: #fff;
  margin-top: -41px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-menu__item a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: .8em;
}

.footer-menu__item a:hover {
  color: #00a3d9;
  text-decoration: none;
}

.footer-menu__item {
  padding: 0 10px;
}

.footer-menu__item:first-child {
  padding: 0;
}
