.navbar{
    margin-bottom: 30px;
}
.logo:hover{
    text-decoration: none;
    color: rgb(70, 70, 70);
    
}
.logo img{
    transition: all 0.2s ease-in-out;
}
.logo:hover img{
    transform: rotateZ(90deg);
}
.logo span{
    padding:0 20px;
    color: #6e230e;
    border-right: 1px solid #ccc;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fa4e1e;
    transform: translateY(4px);
}