@font-face{
    font-family: 'Fontello';
    src: url('../fonts/fontello.ttf') format('ttf'),
         url('../fonts/fontello.woff') format('woff'),;
}
body{
    background-color: #ddd;
    display: flex;
    justify-content: center;
}